@using Microsoft.AspNetCore.Components
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<div class="user-info">
    @if (UserState.CurrentUser == null)
    {
        <text>...</text>
    }
    else if (UserState.CurrentUser.IsLoggedIn)
    {
        <div>
            <span class="username">@UserState.CurrentUser.DisplayName</span>
            <span class="sign-out" onclick="@UserState.SignOut">Sign out</span>
        </div>
    }
    else
    {
        <button onclick="@OnSignInClick" class="sign-in">Sign in</button>
    }
</div>

@functions {
    [CascadingParameter]
    UserStateProvider UserState { get; set; }

    public void OnSignInClick()
    {
        UriHelper.NavigateTo("/login");
    }
}
