@typeparam T
@inherits BlazingComponents.Lib.Areas.Components.BlazorListBase<T>


<ul class="list-group">
    @foreach (var item in Items)
    {
        <li @key="item" class="@GetItemClass(item)" @onclick="@( () => OnItemClick(item))">
            @ItemTemplate(item)
            @if (IsExpanded(item) && ExpandedItemTemplate != null)
            {
                @ExpandedItemTemplate(item);
            }
        </li>
    }
</ul>