
@inherits BlazorEssentials.ComponentLib.Areas.Components.ExpandableContainerBase

@if (Expanded)
{
    <div class="@AnimateExpandClass">
        @ExpandedContent
    </div>
}
else
{
    <div class="@AnimateCollapseClass">
        @CollapsedContent
    </div>
}