@typeparam T
@inherits GridViewBase<T>


@for (var i = 0; i < TwoDimData.GetLength(0); i++)
{
    <div class="row">
        @for (var k = 0; k < TwoDimData.GetLength(1); k++)
        {
            if (ChildContent != null && TwoDimData[i, k] != null)
            {
                <div class="col">
                    @ChildContent(TwoDimData[i, k])
                </div>
            }
        }
    </div>

}
